/**************************/
/* Below 944 */
/**************************/
@media (max-width: 59em) {
    html {
        font-size: 50%;
    }
    .bill {
      position: relative;
      top: 30%;
    }
}

/* BELOW 480px */
@media (max-width: 30em) {
      html {
        font-size: 48%;
    }
}

/* BELOW 420px */
@media (max-width: 26.25em) {
      html {
        font-size: 45%;
    }
}

/* BELOW 390px */
@media (max-width: 24.5em) {
      html {
        font-size: 42%;
    }
}